<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <php>
        <ini name="error_reporting" value="32767"/>

        <env name="FIXTURE_SCHEMA_METADATA" value="tests/schema.php"/>
    </php>

    <extensions>
        <extension class="\Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="cake-service-layer">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src/</directory>
      </whitelist>
    </filter>
</phpunit>
